@media all and (min-width: 1001px){
    .sideMenu{
        width: 20%;
        position: sticky;
        top: 0px;
        z-index: 20;
        height: 100vh;
        background-color: #e9edf0;
        
    }
    .sideMenu .wrapper1{
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        border-radius: 10px;
        background-color: white;
    }
    .sideMenu .wrapper1::-webkit-scrollbar{
        width: 5px;
    }
    .sideMenu .wrapper1::-webkit-scrollbar-track{
        border-radius: 10px;
        background-color: #dedede;
    }
    .sideMenu .wrapper1::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: rgb(64, 66, 175);
    }
    .sideMenu li > a{
        display: block;
        width: 95%;
        height: 35px;
        padding-top: 10px;
        color: gray;
    }
    .sideMenu li > a:hover{
        color: black;
    }
    .sideMenu .group_parent{
        padding-left: 8px;
        list-style-type: none;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        background-color: #ffffff;
        border-top: 1px solid gray;
    }
    .sideMenu .group_item > li{
        list-style-type: none;
        font-size: 14px;
        padding-left: 30px;
        font-style: italic;
        background-color: #ffffff;
    }
    .sideMenu.adminSideMenu{
        top: 30px;
        height: calc(100vh - 30px);
    }
}
/* Cell phone */
@media all and (max-width: 760px){
    .sideMenu{
        display: none;
    }
}